@font-face {
  font-family: 'GT-America-Standard-Black';
  src: url('../../fonts/GT-America-Standard-Black.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/GT-America-Standard-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/GT-America-Standard-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../GT-America-Standard-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
}
